$color_principal: #1b6dac;
$color_hover: #155a8a;

button {
    background-color: $color_principal;
    
    &:hover {
        background-color: $color_hover;
    }
}

.btn-icon {
  height: 200px;
  width: auto;
  margin-left: 60px;
}