nav{
    background-color: white;
    border-radius: .4rem;
    box-shadow: 
    0.3em 0.3em 1em grey;
    button{
        background-color: #1b6dac;
        color: white;
        box-shadow: 0.2em 0.2em 0.3em grey;
        height: 2em;
    }
}
