div {
  h1 {
    margin-bottom: 1.5rem;
  }

  .alert {
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;

    &-warning {
      background-color: #fff3cd;
      color: #664d03;
      border: 1px solid #ffecb5;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 1.5rem;

    th,
    td {
      padding: 0.75rem;
      text-align: left;
      border: 1px solid #dee2e6;
    }

    th {
      background-color: #e9ecef;
      font-weight: 600;
    }

    tbody tr td button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 500;
      background-color: #0d6efd;
      color: white;

      &:hover {
        background-color: #0b5ed7;
      }
    }
  }

  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    background-color: #92557f;
    color: white;

    &:hover {
      background-color: #bb6da3;
    }
  }
}
