#principal{
    text-transform: capitalize;
    #opciones{
        button{
            background-color: #1b6dac;
            color: white;
            box-shadow: 0.2em 0.2em 0.3em grey;
            height: 2em;
        }
    }
}