#principal{
    .nombre{
        text-transform: capitalize;
        margin-top: 1em;
    }
    #opciones{
        button{
            padding: 0.5rem 1rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}